art-rider/supabase/n8n_rls_audit_workflow.json
{
  "name": "ArtRider — Auditoría RLS Supabase",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "supabase-url",
              "name": "SUPABASE_URL",
              "value": "={{ $env.NEXT_PUBLIC_SUPABASE_URL }}",
              "type": "string"
            },
            {
              "id": "anon-key",
              "name": "ANON_KEY",
              "value": "={{ $env.NEXT_PUBLIC_SUPABASE_ANON_KEY }}",
              "type": "string"
            },
            {
              "id": "attacker-email",
              "name": "ATTACKER_EMAIL",
              "value": "test.attacker@artrider.test",
              "type": "string"
            },
            {
              "id": "attacker-password",
              "name": "ATTACKER_PASSWORD",
              "value": "TestPassword123!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-config",
      "name": "Configuración",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.SUPABASE_URL }}/auth/v1/token?grant_type=password",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",       "value": "={{ $json.ANON_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "email",    "value": "={{ $json.ATTACKER_EMAIL }}" },
            { "name": "password", "value": "={{ $json.ATTACKER_PASSWORD }}" }
          ]
        },
        "options": { "response": { "response": { "fullResponse": true } } }
      },
      "id": "auth-attacker",
      "name": "Auth — Login Atacante",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "jwt",
              "name": "JWT",
              "value": "={{ $json.body.access_token }}",
              "type": "string"
            },
            {
              "id": "attacker-uid",
              "name": "ATTACKER_UID",
              "value": "={{ $json.body.user.id }}",
              "type": "string"
            },
            {
              "id": "supabase-url-pass",
              "name": "SUPABASE_URL",
              "value": "={{ $('Configuración').item.json.SUPABASE_URL }}",
              "type": "string"
            },
            {
              "id": "anon-key-pass",
              "name": "ANON_KEY",
              "value": "={{ $('Configuración').item.json.ANON_KEY }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-jwt",
      "name": "Extraer JWT",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [860, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.SUPABASE_URL }}/rest/v1/conversations?select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $json.ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $json.JWT }}" },
            { "name": "Prefer",        "value": "count=exact" }
          ]
        },
        "options": { "response": { "response": { "fullResponse": true } } }
      },
      "id": "test-conversations",
      "name": "TEST-CRIT01 — Leer conversations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 120]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Extraer JWT').item.json.SUPABASE_URL }}/rest/v1/messages?select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Extraer JWT').item.json.ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Extraer JWT').item.json.JWT }}" },
            { "name": "Prefer",        "value": "count=exact" }
          ]
        },
        "options": { "response": { "response": { "fullResponse": true } } }
      },
      "id": "test-messages",
      "name": "TEST-CRIT01 — Leer messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 260]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Extraer JWT').item.json.SUPABASE_URL }}/rest/v1/bookings?select=id,client_id,owner_id,status,total_price",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Extraer JWT').item.json.ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Extraer JWT').item.json.JWT }}" },
            { "name": "Prefer",        "value": "count=exact" }
          ]
        },
        "options": { "response": { "response": { "fullResponse": true } } }
      },
      "id": "test-bookings-all",
      "name": "TEST — Leer todos bookings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Extraer JWT').item.json.SUPABASE_URL }}/rest/v1/payments?select=id,booking_id,amount,status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Extraer JWT').item.json.ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Extraer JWT').item.json.JWT }}" },
            { "name": "Prefer",        "value": "count=exact" }
          ]
        },
        "options": { "response": { "response": { "fullResponse": true } } }
      },
      "id": "test-payments",
      "name": "TEST — Leer todos payments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 540]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Extraer JWT').item.json.SUPABASE_URL }}/rest/v1/digital_contracts?select=id,booking_id,status,owner_signature_hash,client_signature_hash",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Extraer JWT').item.json.ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Extraer JWT').item.json.JWT }}" },
            { "name": "Prefer",        "value": "count=exact" }
          ]
        },
        "options": { "response": { "response": { "fullResponse": true } } }
      },
      "id": "test-contracts",
      "name": "TEST — Leer contracts ajenos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 680]
    },
    {
      "parameters": {
        "jsCode": "// Evalúa cada respuesta HTTP y clasifica como PASS o FAIL\nconst results = [];\n\nconst checks = [\n  {\n    id: 'CRIT-01-conversations',\n    name: 'CRIT-01 — conversations sin RLS',\n    node: 'TEST-CRIT01 — Leer conversations',\n    expectEmptyBody: true,\n    severity: 'CRITICAL'\n  },\n  {\n    id: 'CRIT-01-messages',\n    name: 'CRIT-01 — messages sin RLS',\n    node: 'TEST-CRIT01 — Leer messages',\n    expectEmptyBody: true,\n    severity: 'CRITICAL'\n  },\n  {\n    id: 'bookings-isolation',\n    name: 'Bookings — aislamiento entre usuarios',\n    node: 'TEST — Leer todos bookings',\n    expectOnlyOwnRows: true,\n    uidField: 'client_id',\n    severity: 'HIGH'\n  },\n  {\n    id: 'payments-isolation',\n    name: 'Payments — aislamiento entre usuarios',\n    node: 'TEST — Leer todos payments',\n    expectEmptyBody: true,\n    severity: 'HIGH'\n  },\n  {\n    id: 'contracts-isolation',\n    name: 'Contratos — aislamiento entre usuarios',\n    node: 'TEST — Leer contracts ajenos',\n    expectEmptyBody: true,\n    severity: 'HIGH'\n  }\n];\n\nfor (const check of checks) {\n  let response;\n  try {\n    response = $node[check.node].json;\n  } catch(e) {\n    results.push({\n      id: check.id,\n      severity: check.severity,\n      name: check.name,\n      status: 'ERROR',\n      detail: `No se pudo leer la respuesta del nodo: ${e.message}`\n    });\n    continue;\n  }\n\n  const body = response.body;\n  const statusCode = response.statusCode;\n  const rowCount = Array.isArray(body) ? body.length : 0;\n  const attackerUid = $('Extraer JWT').item.json.ATTACKER_UID;\n\n  if (check.expectEmptyBody) {\n    // Si RLS funciona: array vacío o error 401/403\n    if (statusCode >= 400 || rowCount === 0) {\n      results.push({\n        id: check.id,\n        severity: check.severity,\n        name: check.name,\n        status: '✅ PASS',\n        detail: `Status ${statusCode}, ${rowCount} filas devueltas. RLS bloqueó correctamente.`\n      });\n    } else {\n      results.push({\n        id: check.id,\n        severity: check.severity,\n        name: check.name,\n        status: '❌ VULNERABLE',\n        detail: `Status ${statusCode}, ${rowCount} filas expuestas a un usuario no autorizado. ACTIVAR RLS INMEDIATAMENTE.`,\n        sample: Array.isArray(body) ? body.slice(0, 2) : body\n      });\n    }\n  } else if (check.expectOnlyOwnRows) {\n    // Filtra filas que NO pertenecen al atacante\n    const foreignRows = Array.isArray(body)\n      ? body.filter(row =>\n          row.client_id !== attackerUid && row.owner_id !== attackerUid\n        )\n      : [];\n\n    if (foreignRows.length === 0) {\n      results.push({\n        id: check.id,\n        severity: check.severity,\n        name: check.name,\n        status: '✅ PASS',\n        detail: `${rowCount} filas devueltas, todas pertenecen al usuario autenticado. RLS correcto.`\n      });\n    } else {\n      results.push({\n        id: check.id,\n        severity: check.severity,\n        name: check.name,\n        status: '❌ VULNERABLE',\n        detail: `${foreignRows.length} filas de OTROS usuarios expuestas de un total de ${rowCount}.`,\n        foreignRows: foreignRows.slice(0, 3)\n      });\n    }\n  }\n}\n\n// Resumen ejecutivo\nconst criticals  = results.filter(r => r.status.includes('VULNERABLE') && r.severity === 'CRITICAL').length;\nconst highs      = results.filter(r => r.status.includes('VULNERABLE') && r.severity === 'HIGH').length;\nconst passes     = results.filter(r => r.status.includes('PASS')).length;\n\nconst summary = {\n  timestamp: new Date().toISOString(),\n  total_checks: results.length,\n  passed: passes,\n  critical_failures: criticals,\n  high_failures: highs,\n  overall_status: criticals > 0 ? '🔴 CRÍTICO' : highs > 0 ? '🟠 ALTO' : '🟢 SEGURO',\n  results\n};\n\nreturn [{ json: summary }];"
      },
      "id": "evaluate-results",
      "name": "Evaluar Resultados RLS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.critical_failures }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "if-critical",
      "name": "¿Hay vulnerabilidades CRÍTICAS?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "jsCode": "const report = $input.item.json;\n\nconst lines = [\n  `# 🚨 ALERTA CRÍTICA — ArtRider RLS Audit`,\n  `Fecha: ${report.timestamp}`,\n  ``,\n  `## Resumen`,\n  `- Total de checks: ${report.total_checks}`,\n  `- ✅ Pasaron: ${report.passed}`,\n  `- 🔴 Fallos CRÍTICOS: ${report.critical_failures}`,\n  `- 🟠 Fallos ALTOS: ${report.high_failures}`,\n  `- Estado general: ${report.overall_status}`,\n  ``,\n  `## Detalle de Vulnerabilidades Encontradas`,\n];\n\nfor (const r of report.results) {\n  if (r.status.includes('VULNERABLE')) {\n    lines.push(`### [${r.severity}] ${r.name}`);\n    lines.push(`**Estado:** ${r.status}`);\n    lines.push(`**Detalle:** ${r.detail}`);\n    if (r.sample) {\n      lines.push(`**Muestra de datos expuestos:**`);\n      lines.push('```json');\n      lines.push(JSON.stringify(r.sample, null, 2));\n      lines.push('```');\n    }\n    lines.push('');\n  }\n}\n\nlines.push(`## Acción Requerida`);\nlines.push(`Ejecutar la migración: \\`art-rider/supabase/migrations/20260509_security_fixes.sql\\``);\nlines.push(`en el SQL Editor de Supabase **INMEDIATAMENTE**.');\n\nreturn [{ json: { report_text: lines.join('\\n'), ...report } }];"
      },
      "id": "format-critical-alert",
      "name": "Formatear Alerta Crítica",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 260]
    },
    {
      "parameters": {
        "jsCode": "const report = $input.item.json;\n\nconst lines = [\n  `# ✅ ArtRider RLS Audit — Sin vulnerabilidades críticas`,\n  `Fecha: ${report.timestamp}`,\n  ``,\n  `## Resumen`,\n  `- Total de checks: ${report.total_checks}`,\n  `- ✅ Pasaron: ${report.passed}`,\n  `- 🟠 Fallos altos: ${report.high_failures}`,\n  `- Estado general: ${report.overall_status}`,\n  ``,\n];\n\nif (report.high_failures > 0) {\n  lines.push(`## Checks con advertencias`);\n  for (const r of report.results) {\n    if (r.status.includes('VULNERABLE')) {\n      lines.push(`- **[${r.severity}] ${r.name}:** ${r.detail}`);\n    }\n  }\n} else {\n  lines.push(`Todos los checks de aislamiento de datos entre usuarios pasaron correctamente.`);\n}\n\nreturn [{ json: { report_text: lines.join('\\n'), ...report } }];"
      },
      "id": "format-pass-report",
      "name": "Formatear Reporte OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 540]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-reports",
      "name": "Merge Reportes",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "jsCode": "// Nodo final: imprime el reporte en el log de n8n\n// En producción: reemplazar con un nodo Slack / Email / PagerDuty\nconst item = $input.item.json;\nconsole.log('=== ArtRider RLS Audit Report ===');\nconsole.log(item.report_text || JSON.stringify(item, null, 2));\nreturn [$input.item];"
      },
      "id": "output-report",
      "name": "Output — Log / Notificar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 400]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Configuración", "type": "main", "index": 0 }]]
    },
    "Configuración": {
      "main": [[{ "node": "Auth — Login Atacante", "type": "main", "index": 0 }]]
    },
    "Auth — Login Atacante": {
      "main": [[{ "node": "Extraer JWT", "type": "main", "index": 0 }]]
    },
    "Extraer JWT": {
      "main": [[
        { "node": "TEST-CRIT01 — Leer conversations", "type": "main", "index": 0 },
        { "node": "TEST-CRIT01 — Leer messages",      "type": "main", "index": 0 },
        { "node": "TEST — Leer todos bookings",        "type": "main", "index": 0 },
        { "node": "TEST — Leer todos payments",        "type": "main", "index": 0 },
        { "node": "TEST — Leer contracts ajenos",      "type": "main", "index": 0 }
      ]]
    },
    "TEST-CRIT01 — Leer conversations": {
      "main": [[{ "node": "Evaluar Resultados RLS", "type": "main", "index": 0 }]]
    },
    "TEST-CRIT01 — Leer messages": {
      "main": [[{ "node": "Evaluar Resultados RLS", "type": "main", "index": 0 }]]
    },
    "TEST — Leer todos bookings": {
      "main": [[{ "node": "Evaluar Resultados RLS", "type": "main", "index": 0 }]]
    },
    "TEST — Leer todos payments": {
      "main": [[{ "node": "Evaluar Resultados RLS", "type": "main", "index": 0 }]]
    },
    "TEST — Leer contracts ajenos": {
      "main": [[{ "node": "Evaluar Resultados RLS", "type": "main", "index": 0 }]]
    },
    "Evaluar Resultados RLS": {
      "main": [[{ "node": "¿Hay vulnerabilidades CRÍTICAS?", "type": "main", "index": 0 }]]
    },
    "¿Hay vulnerabilidades CRÍTICAS?": {
      "main": [
        [{ "node": "Formatear Alerta Crítica", "type": "main", "index": 0 }],
        [{ "node": "Formatear Reporte OK",     "type": "main", "index": 0 }]
      ]
    },
    "Formatear Alerta Crítica": {
      "main": [[{ "node": "Merge Reportes", "type": "main", "index": 0 }]]
    },
    "Formatear Reporte OK": {
      "main": [[{ "node": "Merge Reportes", "type": "main", "index": 1 }]]
    },
    "Merge Reportes": {
      "main": [[{ "node": "Output — Log / Notificar", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "artrider-rls-audit",
    "instanceId": "artrider"
  },
  "tags": [{ "name": "security", "createdAt": "2026-05-09" }]
}
